.calendar {

  .calendar-days {
    font-family: WorkSan_SemiBold;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    > * {
      flex: 1 0 14.28571429%;
    }
  }

  .calendar-content {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .calendar-row {

      display: flex;
      align-items: stretch;
      justify-content: space-around;
      width: 100%;
      text-align: center;
      flex: 1 0 35px;
      margin: 1px 0;

      > *:not(.popover):not(.popover-content) {
        flex: 1 0 auto;
        font-family: WorkSan_Regular;
        font-size: 15px;
        text-align: center;
        position: relative;

        display: flex;
        
        > div.morning,
        > div.afternoon {

          flex: 1 0 50%;
        }
      }

      > *:before {
        content: attr(data-day);
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
      }

      > div.past {
        color: #828282;
      }

      div.checkin {
        color: white;
        cursor: pointer;

        .morning {
          border-radius: 100px 0 0 100px;
          background-color: #e24660;
        }

        .afternoon {
          background-color: #e24660;
        }
      }

      div.checkout {
        color: white;
        cursor: pointer;

        .morning {
          background-color: #e24660;
        }

        .afternoon {
          border-radius: 0 100px 100px 0;
          background-color: #e24660;
        }
      }

      div.checkin.checkout,
      div.checkout.checkin {
        color: white;
        cursor: pointer;

        .morning {
          border-radius: 0 100px 100px 0;
          background-color: #e24660;
        }

        .afternoon {
          border-radius: 100px 0 0 100px;
          background-color: #e24660;
        }
      }

      div.booked {
        color: white;
        cursor: pointer;

        .morning {
          background-color: #e24660;
        }

        .afternoon {
          background-color: #e24660;
        }
      }
    }
  }
}