<div id="createbankaccountmodal" class="modal modal-confirmation fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <h2 class="modal-title">Connect bank account</h2>
                        <p class="modal-description"></p>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-include="'views/bankAccount/bank-account-form.html'"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->