<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><head><meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"></head>
<body bgcolor="white">
<table width="100%"  border="0" cellspacing="2" cellpadding="5" style="font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;color:black">
<tr><td><img src=""/></td></tr>
<tr><td>
<p>Thank you for using LetULet!</p>
<p><b>Your password has been reset.</b> Your new temporary password is: <span style="font-size:16px;"><strong>[$PASSWORD$]</strong></span></p>
<p>Use your new password to login at: <a href="https://LetULet.orbirental.com/login.jsp">https://LetULet.orbirental.com</a><br/><br/>Cheers,<br/>The LetULet Team</p>
<p style="color:#666666;border-top:1px solid #eeeeee">If you have any problems, you can get help at support@LetULet.com</p>
</td></tr>
</table>
</body>
</html>