<div id="proposalagreementmodal_{{proposal.uid}}" class="modal modal-agreement fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2 class="modal-title">VIEW AGREEMENT</h2>
                        <p class="modal-description">Here is your full agreement with {{proposal.bestProfile}}</p>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="text-left form-group required">
                                            <label class="label-xs sr-only" for="proposalReview"></label>
                                            <textarea name="data[Proposal][review]" rows="9" class="form-control" id="proposalReview">
                                                {{proposal.textAgreement}}
                                            </textarea>
                                        </div>
                                    </div>

                                    <div class="col-xs-4 col-xs-offset-4 text-center">
                                        <button type="submit" class="btn btn-fullwidth btn-rounded btn-red" data-dismiss="modal">DONE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->