<div class="row">
    <div class="col-xs-12">
        <div class="widget">
            <h1 class="widget-title">Homeshare Revenue</h1>
            <div class="row">
                <div class="col-xs-12">
                    <div class="agreement-list">
                        <div class="agreement-item-list" ng-repeat="proposal in proposals track by $index">
                            <div class="description">
                                <span class="name">Proposal from {{proposal.Tenant.bestProfile}}</span>
                                <br/>
                                <span class="gray">Status: {{getProposalStatus(proposal)}}</span>
                            </div>
                            <div class="address">
                                {{proposal.Property.address}}
                                <br/>{{proposal.Property.city}}
                            </div>
                            <div class="share">
                                {{proposal.landlordCommissionRate}}% Share<br/>Revenue
                            </div>
                            <div class="actions">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>